@import url('https://fonts.cdnfonts.com/css/pt-mono');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDECE4;
    border: 10px solid #CBC6B9;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 800px;
    margin-top: 77px;
}

span {
    display: flex;
    align-items: center;
    gap: 30px;
}

p {
    font-size: 18px;
    color: black;
}

.marker-green {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: green;
}

.time-work {
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.text-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 318px;
    height: 82px;
    border-right: 2px solid black;
}

.text-decoration {
    color: #988C77;
    font-size: 18px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-wrapper > img {
    width: 200px;
    height: 200px;
}

.hero-wrapper > h1 {
    font-size: 200px;
}

main > img {
    width: 600px;
    height: 700px;
}

section {
    display: flex;
    width: 1000px;
    margin-bottom: 100px;
    gap: 60px;
}

.title-section {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 51px;
    padding-left: 10px;
}

.line {
    width: 255px;
    height: 2px;
    background-color: black;
}

.line-contact {
    width: 224px;
}

article > p, li > p {
    font-size: 18px;
    font-family: 'PT Mono', sans-serif;
    color: black;
    height: 14px;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    color: #988C77;
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 18px;
    padding-bottom: 12px;
}

.main-menu > h3 {
    font-size: 24px;
    font-family: 'Aref Ruqaa', sans-serif;
    padding-bottom: 26px;
    padding-left: 50px;
}

menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    gap: 30px;
    width: 100%;
    height: 300px;
}

menu > img {
    padding-top: 50px;
}

img {
    transition: transform 0.9s;
}

img:hover {
    transform: scale(1.1);
}

.contact {
    display: flex;
    flex-direction: column;
}

form {
    width: 600px;
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    width: 100%;
    gap: 20px;
}

div > .column {
    display: flex;
    flex-grow: 1;
}

div > .column:last-child {
    width: 110px;
}

.column {
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    border: 3px solid #988C77;
    background-color: transparent;
    width: 100%;
}

textarea {
    border: 3px solid #988C77;
    background-color: transparent;
}

button {
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #988C77;
    color: #988C77;
    font-size: 18px;
    box-shadow: 5px 5px 0px -2px #CBC6B9, 5px 5px 0px #988C77;
}

label {
    line-height: 30px;
}

form > div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

iframe {
    width: 100%;
    height: 100%;
}

map {
    height: 226px;
    box-shadow: 0px 0px 0px 10px #CBC6B9;
    margin-top: 60px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: #2A2426;
    color: #EDECE4;
    font-size: 18px;
    align-items: center;
    box-shadow: 0px 0px 0px 10px #2A2426;
}

footer > p{
    color: #EDECE4;
}

@media (max-width: 520px) {


    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    main > img {
       display: none;
    }

    .hero-wrapper > img {
        align-self: center;
    }

    .hero-wrapper :nth-child(4) {
        font-size: 100px;
    }

    section {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    menu > img {
        display: none;
    }

    menu {
        justify-content: center;
        align-items: center;
    }

    body {
        gap: 80px;
    }

    .menu {
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    form {
        width: 100%;
        padding: 15px;
    }

    form >:nth-child(3) {
        flex-direction: column;
        display: flex;
    }

    map {
        width: 90%;
        align-self: center;
    }

    footer > img {
        display: none;
    }

}